.idea
!.idea/codeStyleSettings.xml
!.idea/codeStyles/**
.project
.settings
.classpath
.tern-project
.springBeans
*.iml

.tmp
bower_components
node_modules
**/webapp/dist

**/generated
target
out
bin
**/*.log

*.swp
.DS_Store